*{
    margin: 0;
    padding: 0;
}

.navbar{
    display: flex;
    align-items: center;
    position: relative;
}

.dp{
    margin: 5px 30px;
}
.dp img{
    width: 40px;
    margin: 1px 10px;
}

.vinay{
    font-family: 'Caveat', cursive;
    color: white;
    font-size: 25px;
}

ul{
    display: flex;
    position: absolute;
    right: 10px;
}

.navbar ul li{
    list-style-type: none;
}

.navbar ul li a{
    display: block;
    text-decoration: none;
    padding: 5px 40px;
    color: white;
    font-family: 'Poppins', sans-serif;
}

.navbar ul li a:hover{
    color:black;
    background-color: white;
}

.navbar::before{
    content: "";
    background-color: black;
    position: absolute;
    height: 100%;
    width: 100%;
    z-index: -1;
}





.intro{
    display: flex;
    flex-direction: column;
    height: 560px;
    font-family: 'Poppins', sans-serif;
    align-items: center;
}
.intro::before{
    content: "";
    position: absolute;
    background-color:#D4ECDD;
    height: 100%;
    width: 100%;
    z-index: -1;
}

#hello{
    font-size: 4vw;
    color: black;
    padding: 3px;
    font-family: 'Poppins', sans-serif;
    position: absolute;
    top: 200px;
    left: 10vw;
}
#ui{
    padding: 20px;
    font-family: 'Poppins', sans-serif;
    position: absolute;
    top: 340px;
    left: 120px;
    font-size: 1.5vw;
}
#name{
    padding-top: 12px;
    font-size: 3vw;
    font-family: 'Poppins', sans-serif;
    position: absolute;
    top: 270px;
    left: 140px;
}

.illustration{
    width: 53vw;
    position: absolute;
    top: 200px;
    right: 5vw;
}

.hello,.ui,.name{
    font-family: 'Poppins', sans-serif;
}

.texts{
    position: absolute;
    top: 150px;
    left: 150px;
}



/* .knowme{
   align-items: center;
} */

/* .about{
    background-color: antiquewhite;
    padding: 10px;
    display: flex;
    flex-direction: column;
    text-align: center;
    margin-top: 0px;
  
} */

/* .aboutme{
    font-size: 100px;
    opacity: 0.1;
    margin: 20px;
    margin-top: 5px;
} */

.heading{
    font-size: 3rem;
    padding-top: 15px;
    padding-bottom: 5px;
    text-align: center;
    font-family: 'Poppins', sans-serif;
    z-index: 2;
    color: white;
}
.nike{
    font-size: 2rem;
    padding: 12px;
    text-align: center;
    font-family: 'Poppins', sans-serif;
}

.works{
    margin: 34px;
    display: flex;
}

.cards{
    border: 2px solid black;
    padding: 20px;
    margin: 10px;
    border-radius: 19px;
    background-color: rgb(238, 234, 234);
}

.cards:hover{
    background-color: #D4ECDD;
}

.cards img{
    height: 200px;
    display: block;
    margin: auto;
}

.niketext{
    display: block;
    margin: auto;
    text-align: center;
    font-family: 'Poppins', sans-serif;
}

.Projects{
    background-color:#252525;
    height: 700px;
    z-index: -1;
}

.about{
    background-color: #D4ECDD;
    height: 310px;
}
.head{
    font-size: 3rem;
    padding-top: 15px;
    padding-bottom: 5px;
    text-align: center;
    font-family: 'Poppins', sans-serif;
}

.para{
    text-align: center;
    font-size: 2rem;
    display: block;
    /* margin: auto; */
    margin-left: 50px;
    margin-right: 50px;
}

.foot{
    background-color: #252525;
    height: 200px;
}
.foot p{
    color: white;
}


.templist{
    text-decoration: none;
    list-style-type: none;
}